.mealsInfo {
  width: 70%;
  margin: auto;
  text-align: center;
  background-color: #3f3f3f;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: -225px;
}
.mealsInfo__title {
  padding:  0;
  margin: 0;
}
