.meal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid #00000026;
    margin: 8px 0;
}
.meal__detail {
    display: flex;
    flex-direction: column;
}
.meal__detail_title {
    font-weight: bold;
}
.meal__detail_desc {
    font-family: monospace;
    font-style: italic;
    font-size: 14px;
    margin: 2px 0;
}
.meal__detail_price {
    font-family: fantasy;
    color: brown;
}


