.mealsInfo {
  width: 80%;
  margin: auto;
  text-align: center;
  background-color: #3f3f3f;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 103%;
  min-width: 280px;
  font-size: 1rem;
}
.mealsInfo__title {
  padding:  0;
  margin: 0;
}
