.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}
.form_quantity label{
    font-weight: bold;
}
.form_quantity label::after{
    content: ': ';
    font-weight: bold;
}
.form_quantity input{
    width: 30px;
    border: 1px solid #00000029;
}

.form_button {
    margin-top: 8px;
    width: 100px;
    color: white;
}