.cartProducts {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  max-width: 600px;
  height: fit-content;
  z-index: 1001;
  margin: auto;
  transition: all 1s;
}

.cartProducts__action{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}
.cartProducts__action button{
    padding: 0.5rem 2rem;

}

.cartProducts__action button:nth-of-type(1){
    color: brown;
    background-color: white;
    border: 1px solid brown;
}


