.header {
  background-color: brown;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
