.button {
  display: grid;
  grid-template-columns: 18px auto auto;
  gap: 10px;
  padding: 10px 50px;
  border-radius: 2rem;
  border: none;
  justify-content: center;
  align-items: center;
  color: white;
  background: black;
  cursor: pointer;
  transition: all 1s;
}

.button span:nth-of-type(3) {
  background-color: brown;
  /* color: black; */
  padding: 6px 10px;
  border-radius: 50%;
}
.button:active {
  transform: scale(0.9);
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.anim {
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation-name: zoom;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}
