.button {
  display: grid;
  grid-template-columns: 18px auto auto;
  gap: 10px;
  padding: 10px 50px;
  border-radius: 2rem;
  border: none;
  justify-content: center;
  align-items: center;
  color: white;
  background: black;
  cursor: pointer;
  transition: all 1s;
}

.button span:nth-of-type(3) {
  background-color: brown;
  /* color: black; */
  padding: 6px 10px;
  border-radius: 50%;
}
.button:active {
  transform: scale(0.9);
}
@keyframes zoom {
  from{
    /* transform: scale(1); */
  }
  to {
    transform: scale(1.1);
  }
}
.anim {
  animation-name: zoom;
  animation-duration: 0.3s;
  animation-fill-mode:forwards;
}
