.button {
  border: none;
  border-radius: 2rem;
  background: brown;
  padding: 8px;
  cursor: pointer;
}
.button:hover {
  opacity: 0.9;
}
.button:active {
  transform: scale(0.9);
  cursor: active;
}
.button:disabled{
  background: gray;
    cursor: default;
}